<!DOCTYPE html>

<head>
  <title>Emergency</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    body {
        font-family: 'Quicksand', sans-serif;
        background-color: #e3e2b3;
    }
    button {
      margin: 15px 7px;
    }
    .bold{
      font-weight: bold;
      text-align: center;
    }
    .phnno{
      color: blue;
      text-align: center;
    }
    table , tr, td{
      padding: auto 1%  ;
      
    }
    
  </style>
</head>

<body>
  <div class="row">
    <div class="col-lg-2">
      <form action="/help" method="get"> 
        <button class="btn btn-primary">Help Center</button></form>
    </div>
    <div class="col-lg-2">
      <form action="/moralsupport" method="get"> 
        <button class="btn btn-danger">I'm worried</button></form>
    </div>
    <div class="col-lg-2">
      <form action="/" method="get"> 
        <button class="btn btn-primary">Homepage</button></form>
    </div>
  </div>
  
  
  

  <div class="jumbotron">
    <h1 class="display-4">Coronavirus Helpline India</h1><br>

    <div class="row"> 
      <div class="col-lg-4">
        <p class="bold">National Helpline Number</p>
        <p  class="phnno">1075 | 1800-112-545</p>
      </div>
      <div class="col-lg-4">
        <p class="bold">Central Helpline Number</p>
        <p class="phnno"> +91-11-23978043 | +91-11-23978046</p> 
      </div>
      <div class="col-lg-4"> <p class="bold" >Central Helpline Email</p>
        <p class="phnno"> ncov2019@gmail.com</p>
      </div>
  </div>
  </div>
  
  
    
  
<br>
<div class="jumbotron" style="margin: auto 200px;">
<TABLE class="table table-hover">
  <thead>
  <TR>
    <TH scope="col" ><P >S. No</P></TH>
    <TH scope="col" ><P >Name of the State</P></TH>
    <Th scope="col" ><P >Helpline Nos.</P></TH>
  </TR>
</thead>
<TBODY>
  <TR>
    <TD ><P >1</P></TD>
    <TD ><P >Andhra Pradesh</P></TD>
    <TD ><P ><NOBR>0866-2410978</NOBR></P></TD>
  </TR>
  
  <TR>
    <TD ><P >2</P></TD>
    <TD ><P >Arunachal Pradesh</P></TD>
    <TD ><P >9436055743</P></TD>
  </TR>
  
  <TR>
    <TD ><P >3</P></TD>
    <TD ><P >Assam</P></TD>
    <TD ><P >6913347770</P></TD>
  </TR>
  
  <TR>
    <TD ><P >4</P></TD>
    <TD ><P >Bihar</P></TD>
    <TD ><P >104</P></TD>
  </TR>
 
  <TR>
    <TD ><P >5</P></TD>
    <TD ><P >Chhattisgarh</P></TD>
    <TD ><P >104</P></TD>
  </TR>
  
  <TR>
    <TD ><P >6</P></TD>
    <TD ><P >Goa</P></TD>
    <TD ><P >104</P></TD>
  </TR>

  <TR>
    <TD ><P >7</P></TD>
    <TD ><P >Gujarat</P></TD>
    <TD ><P >104</P></TD>
  </TR>

  <TR>
    <TD ><P >8</P></TD>
    <TD ><P >Haryana</P></TD>
    <TD ><P >8558893911</P></TD>
  </TR>
 
  <TR>
    <TD ><P >9</P></TD>
    <TD ><P >Himachal Pradesh</P></TD>
    <TD ><P >104</P></TD>
  </TR>
 
  <TR>
    <TD ><P >10</P></TD>
    <TD ><P >Jharkhand</P></TD>
    <TD ><P >104</P></TD>
  </TR>
  
  <TR>
    <TD ><P >11</P></TD>
    <TD ><P >Karnataka</P></TD>
    <TD ><P >104</P></TD>
  </TR>

  <TR>
    <TD ><P >12</P></TD>
    <TD ><P >Kerala</P></TD>
    <TD ><P ><NOBR>0471-2552056</NOBR></P></TD>
  </TR>

  <TR>
    <TD ><P >13</P></TD>
    <TD ><P >Madhya Pradesh</P></TD>
    <TD ><P >104</P></TD>
  </TR>

  <TR>
    <TD ><P >14</P></TD>
    <TD ><P >Maharashtra</P></TD>
    <TD ><P ><NOBR>020-26127394</NOBR></P></TD>
  </TR>

  <TR>
    <TD ><P >15</P></TD>
    <TD ><P >Manipur</P></TD>
    <TD ><P >3852411668</P></TD>
  </TR>
  
  <TR>
    <TD ><P >16</P></TD>
    <TD ><P >Meghalaya</P></TD>
    <TD ><P >108</P></TD>
  </TR>

  <TR>
    <TD ><P >17</P></TD>
    <TD ><P >Mizoram</P></TD>
    <TD ><P >102</P></TD>
  </TR>
  
  <TR>
    <TD ><P >18</P></TD>
    <TD ><P >Nagaland</P></TD>
    <TD ><P >7005539653</P></TD>
  </TR>
  
  <TR>
    <TD ><P >19</P></TD>
    <TD ><P >Odisha</P></TD>
    <TD ><P >9439994859</P></TD>
  </TR>
 
  <TR>
    <TD ><P >20</P></TD>
    <TD ><P >Punjab</P></TD>
    <TD ><P >104</P></TD>
  </TR>
 
  <TR>
    <TD ><P >21</P></TD>
    <TD ><P >Rajasthan</P></TD>
    <TD ><P ><NOBR>0141-2225624</NOBR></P></TD>
  </TR>
  
  <TR>
    <TD ><P >22</P></TD>
    <TD ><P >Sikkim</P></TD>
    <TD ><P >104</P></TD>
  </TR>
  
  <TR>
    <TD ><P >23</P></TD>
    <TD ><P >Tamil Nadu</P></TD>
    <TD ><P ><NOBR>044-29510500</NOBR></P></TD>
  </TR>
 
  <TR>
    <TD ><P >24</P></TD>
    <TD ><P >Telangana</P></TD>
    <TD ><P >104</P></TD>
  </TR>
  
  <TR>
    <TD ><P >25</P></TD>
    <TD ><P >Tripura</P></TD>
    <TD ><P ><NOBR>0381-2315879</NOBR></P></TD>
  </TR>

  <TR>
    <TD ><P >26</P></TD>
    <TD ><P >Uttarakhand</P></TD>
    <TD ><P >104</P></TD>
  </TR>
  
  <TR>
    <TD ><P >27</P></TD>
    <TD ><P >Uttar Pradesh</P></TD>
    <TD ><P >18001805145</P></TD>
  </TR>
 
  <TR>
    <TD ><P >28</P></TD>
    <TD ><P >West Bengal</P></TD>
    <TD ><P >1800313444222, 03323412600,</P></TD>
  </TR>

  </TBODY>
  </TABLE>
</div>
<br>
</body>

</html>