<!DOCTYPE html>

<head>
    <title>India Stats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        body {
            font-family: 'Quicksand', sans-serif;
            background-color: #e3e2b3;
        }
        .img1{
            float: right;
            max-width: 622px;
            max-height: 270px;
        }
        .display-4{
            font-size: xx-large;
            font-weight: bolder;
        }
        #img2{
            float: right;
            max-width: 590px;
            max-height: 590px; 
            border-radius: 3%;
        
        }
        .img3{
            float: right;
            max-width: 420px;
            max-height: 420px;
        }
    </style>    
</head>

  
  <body>
      <!-- navigation bar -->
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Covid-Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"> Worldwide <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/india">India </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help">HelpCenter</a>
            </li>
            
          </ul>
         <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a style="color: crimson;" href="/emergency" class="nav-link">Emergency</a>
           </li>
           <li class="nav-item">
            <a href="/moralsupport" class="nav-link">Moral Support</a>
           </li>
          <li class="nav-item">
            <a href="/mythbuster" class="nav-link">MythBuster</a>
           </li>
             <li class="nav-item " >
                <a class="nav-link" href="/about">About</a>
            </li>	 
         </ul>
      
        </div>
      </nav>
      <br>
      <br>
      <!-- nav bar ends -->

      <div  class="jumbotron" >
          <img class="img1" src="https://covid19.odisha.gov.in/images/gfx/protect.png" alt="">
        <h3 class="lead">Did u just find out that you are tested Covid Positive ? <br> are you unable to cope up with stress about corona virus ?
        </h3><br>
        <h1 class="display-4">Relax !</h1>
        <br>
        <h3 class="lead">go through this page. you can find useful tips to cope up with stress and control the coronavirus anxiety</h3>
      </div>
      <div class="jumbotron">
          
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pihZ-LQGlqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div style="float: right;">
        <p class="display-4"> <br><br>Positivity can save a cancer patient</p>
        <p class="display-4">Fear can Kill even an Ulcer patient</p>
        <pre class="lead">              -Trivikram Srinivas</pre>
        </div>
      </div>

      <div class="jumbotron">
        <img class="img3" src="assets/someimg.png" alt="">
        <p class="display-4"> What is causing coronavirus anxiety?</p>     <br>
        <ul>
            <li>Unpredictability: when we don’t have a clear sense of what may happen next.</li>
            <li>Lack of control: when we believe we do not have direct control for managing issues appropriately.</li>
            <li>Threats to people or things we value.            </li>
        </ul>    
        <p class="display-4"> Steps to cope up with coronavirus anxiety?</p>     <br>
        <ul>
            <li>Controlling Social Media Usage</li>
            <li>Focus on controlling what you can control.</li>
            <li>Get plenty of rest.</li>
            <li>Breathe</li>
            <li>Exercising and cycling (Indoor)</li>
        </ul>
      </div>

      <div class="jumbotron">
        <img id="img2" src="https://site.surveysparrow.com/wp-content/uploads/2020/03/covid-19-symptoms-prevention.png" alt="">
         <br><br>
        <p class="display-4">“We feel anxiety when we are <br> trying to control the things <br> that are inherently outside our control” </p>
        <p class="lead"> - Ross</p> <br><br><br><br><br>
      </div>
  </body>