<!DOCTYPE html>
  <head>
    <title>Myths Busted</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        font-family: 'Quicksand', sans-serif;
        background-color: #e3e2b3;
    }
    .list-group{
      margin : auto 1%;
      

    }
    .list-group p{
      margin-left: 35px;
    }
    .button{
      margin : 15px ;
     
    }
    </style>
  </head>
  <body>

    <nav>
      <div class="button">
        <form action="/" method="get">
        <button class=" btn btn-dark"  type="submit"> Return to Homepage</button></form>
      </div>
    </nav>
      <div class="jumbotron">
          <h1 class="display-4"> Let's Bust some common myths about Corona Virus</h1>
          <p class="lead">These myths are shared on social media platforms and messenger apps like whatsapp.</p>
      </div>
      <div class="list-group">
        <ol >
<li><strong>Do vaccines for Pneumonia gives protection against COVID-19?</strong></li>
</ol>
<p>No. Vaccines used for Pneumonia will not give protection against this disease. The virus is new and different that it needs its own vaccine .</p>
<ol start="2">
<li><strong>You will not get the virus as long as I wear a mask. Is this true?</strong></li>
</ol>
<p>Wearing a mask may make you feel safe against the virus, but it is true that it is more helpful when you are already sick. Masks are actually used to prevent the wearer from spreading their own germs to other people when they cough or sneeze. They are not very effective in preventing you from inhaling  small, airborne particles.</p>
<ol start="3">
<li><strong>Are hand dryers effective in killing the new coronavirus?</strong></li>
</ol>
<p>No. Hand dryers are not effective in killing the 2019-nCoV. To protect yourself against COVID-19, one has to clean hands frequently with an alcohol-based hand rub or wash them with soap and water.</p>
<ol start="4">
<li><strong>Can I catch the virus through my pets?</strong></li>
</ol>
<p>While coronaviruses are zoonotic viruses, it does mean that these viruses can be transmitted between animals and humans. There is no evidence to support that this virus can be transmitted through  domestic pets. However, washing hands with soap and water after handling the pet is generally a good practice to prevent transmission of other types of diseases.</p>
<ol start="5">
<li><strong>Can I get the virus from parcels sent from China?</strong></li>
</ol>
<p>Although, this sounds like a valid concern, there is actually no risk of anyone contracting the virus through a package or a letter from China. This is because the virus is unable to survive for very long outside of the human body, with many experts saying that at most, it can last up to a few hours on a surface.</p>
<ol start="6">
<li><strong>Can foods like garlic help prevent spread of the virus?</strong></li>
</ol>
<p>Garlic has many health benefits and more people should be eating it. In fact, no food out there is guaranteed to prevent you from contracting the virus. It is not backed up by any medical studies. Instead, maintaining a healthy diet that is full of immune-boosting foods like fruits and vegetables can be helpful. This will ensure that the immune system is strong enough to fight off any infections that may come, whether it is the flu or COVID-19.</p>
<ol start="7">
<li><strong>Can spraying chlorine or alcohol all over the body kill COVID-19 virus?</strong></li>
</ol>
<p>No. spraying chlorine or alcohol all over the body will not kill viruses that have already entered our body. Instead, spraying such substances can be harmful to clothes or to eyes, mouth, etc.</p>
<p>( This data is provided by World Health Organization (WHO) )</p>
      </div>
  </body>
</html>