<!DOCTYPE html>
  <head>
    <title>covid tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        font-family: 'Quicksand', sans-serif;
        background-color: #e3e2b3;
    }
    </style>
  </head>

  <body>
<!-- navigation bar -->
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Covid-Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Worldwide <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">India </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      
    </ul>
   <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="/mythbuster" class="nav-link">MythBuster</a>
     </li>
   	<li class="nav-item " >
      	<a class="nav-link" href="/about">About</a>
      </li>	 
   </ul>

  </div>
</nav>
<br><br>
<!-- headings and stuff -->
<div class="jumbotron">
  <h1 class="display-4">Covid -19 Tracker by Naveen Kummari</h1>
  <p class="lead">This is a Web Application that displays Covid-19 Statistics for over 187 Countries.</p>
  <hr class="my-4">
  <p> Today's statistics are displayed as default. Please use below options to view previous day statistics</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/yesterday" role="button">Yesterday</a>
    <a class="btn btn-primary btn-lg" href="/daybefore"  role="button">Day Before Yesterday</a>
  </p>
</div>
      <!-- <div class="container">
        
          <h1>  </h1>
          <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis ipsam ipsum temporibus enim dignissimos, necessitatibus distinctio consequuntur molestias, eaque facere molestiae non? Quo id illo facere hic architecto dicta dolorum?</p>
         
        </div> -->
<!-- main table starts  -->       
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Confirmed</th>
            <th scope="col">Deaths</th>
            <th scope="col"> Recovered</th>
          </tr>
        </thead>
        <tbody id="temp">
        
        </tbody>
      </table>
      <script>
      	var x= 2;
      	

        fetch('https://pomber.github.io/covid19/timeseries.json').then(
res=>{
  res.json().then(
    data=>{
      // console.log(Object.values(data)[1].length);
      // // console.log(Object.keys(data)[1])
      // var q1 = Object.values(data)[1].length-1;
      // console.log(Object.values(data)[1][q1]['confirmed']);
      // console.log(q1);

      if(1==1){
      	var temp = "";
      	for( let i =1; i < 187 ; i++){   // for 187 countries
      		var todaysobjectlength = Object.values(data)[i].length-x;
      		var country = Object.keys(data)[i];
      		var  confirmed = Object.values(data)[i][todaysobjectlength]['confirmed'];
      		var  deaths = Object.values(data)[i][todaysobjectlength]['deaths'];
      		var  recovered = Object.values(data)[i][todaysobjectlength]['recovered'];
      		console.log(country , confirmed , deaths , recovered);
      		temp+='<tr>';
      		temp+='<th scope="row">'+i+'</th>';
      		temp+= '<td>'+ country+'</td>';
      		temp+= '<td>'+ confirmed+'</td>';
      		temp+= '<td>'+ deaths+'</td>';
      		temp+= '<td>'+recovered+'</td>';
      		temp+='</tr>';

      	}
      	document.getElementById("temp").innerHTML = temp;
      }
    }
  )
}

        )
      </script>
  </body>
</html>